.main-section{
    width: 100%;
    height: calc(100% - 32px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.main-section .banner{
    background-image: url("../resource/image/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset -250px 0px 100px -100px rgba(255,255,255,1);
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .;
}

.main-section .banner article{
    text-align: center;
    color: #fff;
    -moz-user-select: none; 
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none; 
}

.main-section .banner article h1{
    font-size: 30px;
}

.main-section .banner article h2{
    font-size: 38px;
}

.main-section .banner article h3{
    font-size: 28px;
}

.main-section .banner article h4{
    font-size: 30px;
    width: 400px;
    object-fit: cover;
}

.main-section .form-container{
    grid-column: 3 / 6;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section .form-container form{
    width: 300px;
    padding: 10px;
    display: grid;
    text-align: center;
}

.main-section .form-container form p{
    font-size: 14px;
    margin-bottom: 0px;
}

.main-section .form-container form input[type="text"]{
    font-size: 14px;
    border: solid 1px rgb(117, 117, 117);
    padding: 5px 10px;
    margin: 2px;
    outline: none;
}

.main-section .form-container form input[type="text"]:focus{
    border-color: green;
}

.main-section .form-container form input[type="button"]{
    background-color: #bb2929;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 2px;
    font-size: 14px;
    padding: 5px 10px;
    border-width: 0px;
}

.main-section .form-container form input[type="button"]:disabled{
    opacity: .2;
    cursor: auto;
}

.main-section .form-container form input[type="button"]:active{
    background-color: #a71f1f;
}

.main-section .form-container form a{
    font-size: 13px;
    margin: 10px;
    color: rgb(37, 63, 146);
}

@media (max-width: 950px) {
    .main-section .banner{
        display: none;
    }

    .main-section .form-container{
        grid-column: 1 / 6;
    }
}